<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @incident.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @incident.severity %>
</p>

<p>
  <strong>:</strong>
  <%= @incident. %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
